<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

</head>
    <body class="home">
        <header class="home__header">
            <div class="home__header__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
           <nav id="menu">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="">Crear tu cuenta</a></li>
                    <li><a href="">Ingresa</a></li>
                    <li><a href="">Mis compras</a></li>
                </ul>
            </nav>
            <div class="home__header__logo">
                <img src="/images/img-home-banner.jpg" width= "500px" alt="banner">
            </div>
         </header>
         <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width= "500px" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width= "500px" alt="macbook">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width= "500px" alt="macbook">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h4>Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width= "500px" alt="macbook">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </section>
            <section>
                <h3>Ofertas</h3>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width= "500px" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width= "500px" alt="macbook">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width= "500px" alt="macbook">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h4>Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width= "500px" alt="macbook">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </section>
        </main>
        <footer>
            <section>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>   
    </body>
</html>