<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
    <body class="home">
        <header class="home__header">
            <div class="home__header__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
           <nav>
                <div class="home__header__barra">
                    <input type="text" placeholder="Buscar productos, marcas" id="search-box">
                </div>
                <button class="home__header__lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a id="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</a>
                <div class="home__header__lista">
                    <dl>
                        <dt><a>Ofertas</a></dt>
                        <dt><a>Tiendas Oficiales</a></dt>
                        <dt><a>Vender</a></dt>
                        <dt><a>Ayuda</a></dt>
                    </dl>
                    <dl>
                        <dt><a>Crear tu cuenta</a><i class="fa-regular fa-id-card"></i></dt>
                        <dt><a>Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></dt>
                        <dt><a>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></dt>
                    </dl>
                </div>
            </nav>
            <button class="home__header__icono-menu"><i class="fa-solid fa-bars"></i></button>
            <div class="home__header__banner">
                <img src="/images/img-home-banner.jpg" alt="banner">
            </div>
         </header>
         <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg"  alt="cafetera">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width= "320px" alt="macbook">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width= "320px" alt="macbook">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4>Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width= "320px" alt="macbook">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </section>
            <section>
                <h3>Ofertas</h3>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width= "320px" alt="cafetera">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width= "320px" alt="macbook">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width= "320px" alt="macbook">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4>Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width= "320px" alt="macbook">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </section>
        </main>
        <footer class="home__footer">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h5 class="home__footer__h5">Pagá con tarjeta o en efectivo</h5>
                <p class="home__footer__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h5 class="home__footer__h5">Envío gratis desde $ 2.500</h5>
                <p class="home__footer__p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h5 class="home__footer__h5">Seguridad, de principio a fin</h5>
                <p class="home__footer__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </footer>   
        <p class="home__p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </body>
</html>