<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="/js/login.js" defer></script>
    </head>
    <body>
        <form action="/login" method="POST" id="login">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" >
            <div class="login">
                <input type="text" name="usuario" id="usuario">
                <label for="">Nombre de Usuario</label>
            </div>
            <div class="login">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <div >
                <input class="boton" type="submit" name="submit" id="Enviar">
            </div>
        </form>
    </body>
</html>
