@import './login.css';

:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
    background-color: var(--colorAmarillo);
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
}

form {
    background-color: var(--colorGrisClaro);
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

form .login {
    position: relative;
    margin: 40px;
    background: var(--colorGrisClaro);
}

.login input {
    background: none;
    color: var(--colorGrisOscuro);
    font-size: 18px;
    padding: 10px 10px 1px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.login input:focus{
    outline: none;
    color: var(--colorGrisOscuro);
}

.login label {
    color: black;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 40px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

.login input:focus~label
input{
    top: -14px;
    font-size: 12px;
    color: black;
}

.login input:focus~.barra::before {
    width: 100%;
}

.boton {
    background: var(--colorGrisOscuro);
    border: none;
    padding: 12px;
    color: var(--colorGrisClaro);
    margin: 16px 0px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 5px;
    height:40px; 
    width:100px; 
    margin: -5px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}




