@import './styles.css';

:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.home__header{
background-color: #EAC926;

}

.home__header__logo{
    margin-left: 20px;
    padding-top: 20px;
}

.home__header__logo img{
    width: 50%;
}

.home__header__icono-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    color: white;
    background: #1259c3;
    border-radius: 15%;
    margin: 10px auto;
    border: none;
}

.home__header__barra {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__header__lupa {
    padding: 2px;
}

#compra {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.home__header__lista {
    font-size: 3;
    padding: 10px 1px 10px;
    margin-left: 1%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorGrisClaro);
}

p{
    font-size: 12px;
    margin: auto;
    width: 90%;
    background-color: white;
}

h3{
    font-size: 24px;
    color: var(--colorGrisOscuro);
    padding: 10px 0px 10px;
}

h4{
    color: var(--colorGrisOscuro);
    font-weight: lighter;
    padding: 10px 0px 10px;
    opacity: 0;
    transition: all 0.25s;
}

article:hover h4{
    opacity: 1;
}

article div{
    padding: 15px;
    border-top: 1px #ebebeb solid;
}
.precio {
    font-size: 18px;
    margin-left: 1%;
}

.descuento {
    font-size: 16px;
    color: var(--colorVerde);
    margin-left: 1%;
}

footer{
    text-align: center;
    background-color: white;
    color: #666;
    margin: 15px auto 0px auto;
    width: 90%;
}

.home__footer__p{
    padding: 1px 25px 5px 25px;
}

.home__footer__h5 {
    font-weight: 700;
}



.home__footer .fa-solid {
    color: #666;
    font-size: 20px;
    margin: 7px;
}

.home__p {
    color: #666;
    padding: 25px 1px 10px 10px;
}

/*.fa-truck {
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    color: var(--colorVerde);
    padding: 5%;
    font-size: small;
}*/

.main__section__article__h4 {
    color: var(--colorGrisOscuro);
}

main section {
    display: grid;
}

article div {
    background-color: white;
}


main section article i{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--colorVerde);
    transition: all 0.5s;
    
}

main article:hover i {
    transform: rotate(-90deg);
}

main section article div{
    position: relative;
}

span{
    display: flex;
    justify-content: space-between;
}

